/* href attribute */
a[href="http://codecademy.com"] {
    color: rgb(132, 214, 247);
  }


input[type="text"]{
    margin:6px 5px 2px 10px;
    background-color: rgb(144, 181, 218);
    width: 50%;
}

ul + li{
    color: rgb(127, 218, 172);
}
li::first-child{
    background-color: tomato;
}